<!--@subject {{var subject}}  @-->
<body style="margin:0;padding:0;">
    <table role="presentation" style="margin-top:50px; margin-bottom:50px; width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
        <tr>
            <td align="center" style="padding:0;">
                <table role="presentation" style="width:600px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;">
                    <tr>
                        <td style="padding:25px;">
                            <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;">Pay. Feature Request</h1>
                            <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">
                                A client has sent a feature request via Magento 2 ({{var magento_version|raw}}).
                                <br>
                                Pay. plugin version ({{var version|raw}}).
                                <br>
                                <br>
                                {{depend email}}
                                <b>Client Email:</b>
                                <br>
                                <span style="width: 100%;box-sizing: border-box; display:inline-block; padding: 10px; border:1px solid #cccccc;">{{var email|raw}}</span>
                                <br>
                                <br>
                                {{/depend}}
                                <b>Message:</b>
                                <br>
                                <span style="width: 100%;box-sizing: border-box; display:inline-block; padding: 10px; border:1px solid #cccccc;">{{var body|raw}}</span>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
