<!--@subject {{var subject}}  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"},
"var formattedBillingAddress|raw":"Billing Address",
"var email_customer_note|escape|nl2br":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var shipping_msg":"Shipping message",
"var created_at_formatted":"Order Created At (datetime)",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var is_not_virtual":"Order Type",
"var order":"Order",
"var customer_name":"Customer Name"
"var show_order_in_mail":"show Order",
@-->
<!--@styles
body,td {
    color: #333;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 14px; 
}
@-->

{{template config_path="design/email/header_template"}}

<br/>
{{var body|raw}}

{{template config_path="design/email/footer_template"}}
