.config-nav .paynl-tab .admin__page-nav-title::before {
    content: '';
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 0;
    height: 30px;
    position: absolute;
    width: 30px;
    top: 11px;
}

.config-nav .paynl-tab .admin__page-nav-title strong {
    margin-left: 40px;
}

#row_paynl_setup_paynl_general_settings_version button {
    margin-left: 5px;
    margin-right: 5px;
}

#row_paynl_setup_paynl_general_settings_version #paynl_version_check_current_version {
    padding: 1px 6px;
    border: 1px solid #c8c8c8;
}

#row_paynl_setup_paynl_general_settings_version #paynl_version_check_current_version.versionUpToDate {
    color: white;
    background-color: #5aa70d;
    font-weight: bold;
    border-color: #5aa70d;
}

#paynl_version_check_button {
    padding: 1px 8px
}

.pay-orderinformation {
    width: calc((100%) * .5 - 30px);
    margin: -40px 0px 20px 0px;
}

.pay-link-icon {
    color: black;
    margin-left: 2px;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
}

.accordion .form-inline .config .value.pay_fullwidth {
    width: 100%;
}

.accordion .form-inline .config .value.pay_connect_success {
    color: #438600;
    font-weight: bold;
}

.accordion .form-inline .config .value.pay_connect_failure {
    color: #dd4242;
    font-weight: bold;
}

.accordion .form-inline .config .value.pay_connect_empty {
    color: #dd7536;
    font-weight: bold;
}

#paynl_settings_paynl_general_settings .tooltip-content,
#paynl_settings_paynl_advanced_settings .tooltip-content,
.accordion [id^="paynl_paymentmethods_paynl_payment_"].config .value.with-tooltip .tooltip-content {
    color: #FFF;
    width: 400px;
    max-width: inherit;
    white-space: pre-line;
}

#paynl_settings_paynl_general_settings .tooltip .help span::before, #paynl_settings_paynl_general_settings .tooltip .help a::before,
#paynl_settings_paynl_advanced_settings .tooltip .help span::before, #paynl_settings_paynl_advanced_settings .tooltip .help a::before,
.accordion [id^="paynl_paymentmethods_paynl_payment_"].config .tooltip .help span::before, #paynl_settings_paynl_advanced_settings .tooltip .help a::before {
    opacity: 0.5;
}

#paynl_settings_paynl_general_settings td.use-default,
#paynl_settings_paynl_advanced_settings td.use-default,
.accordion [id^="paynl_paymentmethods_paynl_payment_"].config td.use-default {
    float: left;
    margin-left: 10px;
}