.config-nav .paynl-tab .admin__page-nav-title::before {
    content: '';
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 0;
    height: 30px;
    position: absolute;
    width: 30px;
    top: 11px;
}

.config-nav .paynl-tab .admin__page-nav-title strong {
    margin-left: 40px;
}

#row_paynl_setup_paynl_general_settings_version button {
    margin-left: 5px;
    margin-right: 5px;
}

#row_paynl_setup_paynl_general_settings_version #paynl_version_check_current_version {
    padding: 1px 6px;
    border: 1px solid #c8c8c8;
}

#row_paynl_setup_paynl_general_settings_version #paynl_version_check_current_version.versionUpToDate {
    color: white;
    background-color: #5aa70d;
    font-weight: bold;
    border-color: #5aa70d;
}

#paynl_version_check_button {
    padding: 1px 8px
}

.pay-orderinformation{
    width: calc( (100%) * .5 - 30px );
}

.pay-link-icon{
    color: black;
    margin-left: 2px;
    font-size: 17px;
}