<?xml version="1.0" encoding="UTF-8"?>
<!--
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paynl>
                <model>Paynl\Payment\Model\Paymentmethod\Invisible</model>
                <discount_tax>1</discount_tax>
            </paynl>
            <paynl_payment_paylink>
                <active>0</active>
                <title>PAY. paylink</title>
                <payment_option_id>961</payment_option_id>
                <order_status>pending</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Paylink</model>
                <group>paynl_payment</group>
                <paymentInfoKeys>valid_days</paymentInfoKeys>
                <send_new_order_email>before_payment</send_new_order_email>
                <paylink_subject>Order Paylink #((order_id))#</paylink_subject>
                <paylink_body>((customer_name)),
Thank you for your order from ((store_name)).

If you have questions about your order, you can email us at ((support_email))

In order to pay for your order click the link below
((paylink))
                </paylink_body>

            </paynl_payment_paylink>
            <paynl_payment_afterpay>
                <active>0</active>
                <title>Afterpay</title>
                <payment_option_id>739</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Afterpay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_afterpay>
            <paynl_payment_alipay>
                <active>0</active>
                <title>Alipay</title>
                <payment_option_id>2080</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Alipay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_alipay>
            <paynl_payment_amazonpay>
                <active>0</active>
                <title>Amazon Pay</title>
                <payment_option_id>1903</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Amazonpay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_amazonpay>
            <paynl_payment_amex>
                <active>0</active>
                <title>American Express</title>
                <payment_option_id>1705</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Amex</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_amex>
            <paynl_payment_applepay>
                <active>0</active>
                <title>Apple Pay</title>
                <payment_option_id>2277</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Applepay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_applepay>
            <paynl_payment_billink>
                <active>0</active>
                <title>Achteraf betalen via Billink</title>
                <payment_option_id>1672</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Billink</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
                <turn_off_invoices_b2b>No</turn_off_invoices_b2b>
            </paynl_payment_billink>
            <paynl_payment_capayable>
                <active>0</active>
                <title>Capayable Achteraf Betalen</title>
                <payment_option_id>1744</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Capayable</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_capayable>
            <paynl_payment_capayable_gespreid>
                <active>0</active>
                <title>in3 keer betalen, 0% rente</title>
                <payment_option_id>1813</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\CapayableGespreid</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_capayable_gespreid>
            <paynl_payment_cartasi>
                <active>0</active>
                <title>CartaSi</title>
                <payment_option_id>1945</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Cartasi</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_cartasi>
            <paynl_payment_cartebleue>
                <active>0</active>
                <title>Cartebleue</title>
                <payment_option_id>710</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Cartebleue</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_cartebleue>
            <paynl_payment_cashly>
                <active>0</active>
                <title>Cashly</title>
                <payment_option_id>1981</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Cashly</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_cashly>
            <paynl_payment_clickandbuy>
                <active>0</active>
                <title>Clickandbuy</title>
                <payment_option_id>139</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Clickandbuy</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_clickandbuy>
            <paynl_payment_creditclick>
                <active>0</active>
                <title>Creditclick</title>
                <payment_option_id>2107</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Creditclick</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_creditclick>
            <paynl_payment_dankort>
                <active>0</active>
                <title>Dankort</title>
                <payment_option_id>1939</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Dankort</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_dankort>
            <paynl_payment_decadeaukaart>
                <active>0</active>
                <title>De Cadeaukaart</title>
                <payment_option_id>2601</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Decadeaukaart</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_decadeaukaart>
            <paynl_payment_eps>
                <active>0</active>
                <title>EPS Überweisung</title>
                <payment_option_id>2062</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Eps</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_eps>
            <paynl_payment_fashioncheque>
                <active>0</active>
                <title>Fashioncheque</title>
                <payment_option_id>815</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Fashioncheque</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_fashioncheque>
            <paynl_payment_fashiongiftcard>
                <active>0</active>
                <title>Fashiongiftcard</title>
                <payment_option_id>1669</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Fashiongiftcard</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_fashiongiftcard>
            <paynl_payment_focum>
                <active>0</active>
                <title>Focum</title>
                <payment_option_id>1702</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Focum</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_focum>
            <paynl_payment_gezondheidsbon>
                <active>0</active>
                <title>Gezondheidsbon</title>
                <payment_option_id>812</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Gezondheidsbon</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_gezondheidsbon>
            <paynl_payment_giropay>
                <active>0</active>
                <title>Giropay</title>
                <payment_option_id>694</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Giropay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_giropay>
            <paynl_payment_givacard>
                <active>0</active>
                <title>Givacard</title>
                <payment_option_id>1657</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Givacard</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_givacard>
            <paynl_payment_good4fun>
                <active>0</active>
                <title>Good4Fun</title>
                <payment_option_id>2628</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Good4fun</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_good4fun>
            <paynl_payment_googlepay>
                <active>0</active>
                <title>Google Pay</title>
                <payment_option_id>2558</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Googlepay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_googlepay>
            <paynl_payment_huisentuincadeau>
                <active>0</active>
                <title>Huis en Tuin Cadeau</title>
                <payment_option_id>2283</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Huisentuincadeau</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_huisentuincadeau>
            <paynl_payment_ideal>
                <active>0</active>
                <title>iDEAL</title>
                <payment_option_id>10</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <instructions>Veilig betalen via uw eigen bank</instructions>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Ideal</model>
                <group>paynl_payment</group>
            </paynl_payment_ideal>
            <paynl_payment_instore>
                <active>0</active>
                <title>Pinnen</title>
                <payment_option_id>1729</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <instructions>Betaal in de winkel met uw pinpas</instructions>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Instore</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_instore>
            <paynl_payment_klarna>
                <active>0</active>
                <title>Klarna</title>
                <payment_option_id>1717</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Klarna</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_klarna>
            <paynl_payment_klarnakp>
                <active>0</active>
                <title>KlarnaKP</title>
                <payment_option_id>2265</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Klarnakp</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_klarnakp>
            <paynl_payment_maestro>
                <active>0</active>
                <title>Maestro</title>
                <payment_option_id>712</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Maestro</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_maestro>
            <paynl_payment_mistercash>
                <active>0</active>
                <title>Bancontact</title>
                <payment_option_id>436</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Mistercash</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_mistercash>
            <paynl_payment_multibanco>
                <active>0</active>
                <title>Multibanco</title>
                <payment_option_id>2271</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Multibanco</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_multibanco>
            <paynl_payment_mybank>
                <active>0</active>
                <title>Mybank</title>
                <payment_option_id>1588</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Mybank</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_mybank>
            <paynl_payment_overboeking>
                <active>0</active>
                <title>Overboeking</title>
                <payment_option_id>136</payment_option_id>
                <order_status>pending</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Overboeking</model>
                <group>paynl_payment</group>
                <send_new_order_email>before_payment</send_new_order_email>
                <holded>1</holded>
            </paynl_payment_overboeking>
            <paynl_payment_payconiq>
                <active>0</active>
                <title>Payconiq</title>
                <payment_option_id>2379</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Payconiq</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_payconiq>
            <paynl_payment_paypal>
                <active>0</active>
                <title>Paypal</title>
                <payment_option_id>138</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Paypal</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_paypal>
            <paynl_payment_paysafecard>
                <active>0</active>
                <title>Paysafecard</title>
                <payment_option_id>553</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Paysafecard</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_paysafecard>
            <paynl_payment_podiumcadeaukaart>
                <active>0</active>
                <title>Podiumcadeaukaart</title>
                <payment_option_id>816</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Podiumcadeaukaart</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_podiumcadeaukaart>
            <paynl_payment_postepay>
                <active>0</active>
                <title>Postepay</title>
                <payment_option_id>707</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Postepay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_postepay>
            <paynl_payment_przelewy24>
                <active>0</active>
                <title>Przelewy24</title>
                <payment_option_id>2151</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Przelewy24</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_przelewy24>
            <paynl_payment_sofortbanking>
                <active>0</active>
                <title>Sofortbanking</title>
                <payment_option_id>559</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <holded>1</holded>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Sofortbanking</model>
                <group>paynl_payment</group>
                <send_new_order_email>before_payment</send_new_order_email>
            </paynl_payment_sofortbanking>
            <paynl_payment_sofortbanking_hr>
                <active>0</active>
                <title>Sofortbanking HighRisk</title>
                <payment_option_id>595</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <holded>1</holded>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\SofortbankingHighRisk</model>
                <group>paynl_payment</group>
                <send_new_order_email>before_payment</send_new_order_email>
            </paynl_payment_sofortbanking_hr>
            <paynl_payment_sofortbanking_ds>
                <active>0</active>
                <title>Sofortbanking Digital Services</title>
                <payment_option_id>577</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <holded>1</holded>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\SofortbankingDigitalServices</model>
                <group>paynl_payment</group>
                <send_new_order_email>before_payment</send_new_order_email>
            </paynl_payment_sofortbanking_ds>
            <paynl_payment_spraypay>
                <active>0</active>
                <title>SprayPay</title>
                <payment_option_id>1987</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Spraypay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_spraypay>
            <paynl_payment_telefonischbetalen>
                <active>0</active>
                <title>Telefonisch Betalen (PFP)</title>
                <payment_option_id>1600</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Telefonischbetalen</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_telefonischbetalen>
            <paynl_payment_tikkie>
                <active>0</active>
                <title>Tikkie</title>
                <payment_option_id>2104</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Tikkie</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_tikkie>
            <paynl_payment_trustly>
                <active>0</active>
                <title>Trustly</title>
                <payment_option_id>2718</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Trustly</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_trustly>
            <paynl_payment_visamastercard>
                <active>0</active>
                <title>Visa / Mastercard</title>
                <payment_option_id>706</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Visamastercard</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_visamastercard>
            <paynl_payment_vvvgiftcard>
                <active>0</active>
                <title>VVV Giftcard</title>
                <payment_option_id>1714</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Vvvgiftcard</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_vvvgiftcard>
            <paynl_payment_webshopgiftcard>
                <active>0</active>
                <title>Webshopgiftcard</title>
                <payment_option_id>811</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Webshopgiftcard</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_webshopgiftcard>
            <paynl_payment_wechatpay>
                <active>0</active>
                <title>Wechat Pay</title>
                <payment_option_id>1978</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Wechatpay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_wechatpay>
            <paynl_payment_wijncadeau>
                <active>0</active>
                <title>Wijncadeau</title>
                <payment_option_id>1666</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Wijncadeau</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_wijncadeau>
            <paynl_payment_yehhpay>
                <active>0</active>
                <title>Yehhpay</title>
                <payment_option_id>1877</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Yehhpay</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_yehhpay>
            <paynl_payment_yourgift>
                <active>0</active>
                <title>Yourgift.nl</title>
                <payment_option_id>1645</payment_option_id>
                <order_status>pending_payment</order_status>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_processing>processing</order_status_processing>
                <payment_action>order</payment_action>
                <model>Paynl\Payment\Model\Paymentmethod\Yourgift</model>
                <group>paynl_payment</group>
                <send_new_order_email>after_payment</send_new_order_email>
            </paynl_payment_yourgift>
        </payment>
    </default>
</config>
