<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Pay.nl All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Paynl\Payment\Block\Form\Paymentmethod\Default" type="Magento\Payment\Block\Form" shared="false">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Paynl_Payment::form/paymentmethod/default.phtml</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Quote\Model\BillingAddressManagement">
        <plugin disabled="false" name="Paynl_Payment_Plugin_Magento_Quote_Model_BillingAddressManagement" sortOrder="10" type="Paynl\Payment\Plugin\Magento\Quote\Model\BillingAddressManagement"/>
    </type>
    <type name="Magento\Quote\Model\ShippingAddressManagement">
        <plugin disabled="false" name="Paynl_Payment_Plugin_Magento_Quote_Model_ShippingAddressManagement" sortOrder="10" type="Paynl\Payment\Plugin\Magento\Quote\Model\ShippingAddressManagement"/>
    </type>
</config>


