<?xml version="1.0"?>
<!--
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Paynl\Payment\Block\Form\Paymentmethod\Default" type="Magento\Payment\Block\Form" shared="false">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Paynl_Payment::form/paymentmethod/default.phtml</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Model\Order\Payment">
        <plugin name="paynl_payment_order_payment_additional_information"
                type="Paynl\Payment\Plugin\OrderPaymentAdditionalInformation"
        />
    </type>

    <!-- CRITICAL Logger-->
    <virtualType name="Paynl\Payment\Logging\CriticalHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/pay.log</argument>
            <argument name="loggerType" xsi:type="string">CRITICAL</argument>            
        </arguments>
    </virtualType>
    <type name="Paynl\Payment\Logging\LoggerCritical">
		<arguments>
			<argument name="name" xsi:type="string">PAY</argument>
			<argument name="handlers"  xsi:type="array">
				<item name="debug" xsi:type="object">Paynl\Payment\Logging\CriticalHandler</item>
			</argument>
		</arguments>
	</type>

    <!-- NOTICE Logger-->
    <virtualType name="Paynl\Payment\Logging\NoticeHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/pay.log</argument>
            <argument name="loggerType" xsi:type="string">NOTICE</argument>            
        </arguments>
    </virtualType>
    <type name="Paynl\Payment\Logging\LoggerNotice">
		<arguments>
			<argument name="name" xsi:type="string">PAY</argument>
			<argument name="handlers"  xsi:type="array">
				<item name="debug" xsi:type="object">Paynl\Payment\Logging\NoticeHandler</item>
			</argument>
		</arguments>
	</type>

    <!-- INFO Logger-->
    <virtualType name="Paynl\Payment\Logging\InfoHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/pay.log</argument>
            <argument name="loggerType" xsi:type="string">INFO</argument>            
        </arguments>
    </virtualType>
    <type name="Paynl\Payment\Logging\LoggerInfo">
		<arguments>
			<argument name="name" xsi:type="string">PAY</argument>
			<argument name="handlers"  xsi:type="array">
				<item name="debug" xsi:type="object">Paynl\Payment\Logging\InfoHandler</item>
			</argument>
		</arguments>
	</type>

    <!-- DEBUG Logger-->
    <virtualType name="Paynl\Payment\Logging\DebugHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/pay.log</argument>
            <argument name="loggerType" xsi:type="string">DEBUG</argument>            
        </arguments>
    </virtualType>
    <type name="Paynl\Payment\Logging\LoggerDebug">
		<arguments>
			<argument name="name" xsi:type="string">PAY</argument>
			<argument name="handlers"  xsi:type="array">
				<item name="debug" xsi:type="object">Paynl\Payment\Logging\DebugHandler</item>
			</argument>
		</arguments>
	</type>
</config>
