<?xml version="1.0"?>
<!--
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Paynl\Payment\Block\Form\Paymentmethod\Default" type="Magento\Payment\Block\Form" shared="false">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Paynl_Payment::form/paymentmethod/default.phtml</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Model\Order\Payment">
        <plugin name="paynl_payment_order_payment_additional_information"
                type="Paynl\Payment\Plugin\OrderPaymentAdditionalInformation"
        />
    </type>
    <type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="paynl_payment_order_payment_custom_button" type="Paynl\Payment\Plugin\InstoreButton"/>
    </type>    
</config>
