<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_uncancel_inventory">
        <observer name="inventory" instance="Paynl\Payment\Observer\SubtractInventoryObserver"/>
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="sales_order_invoice_save_after" instance="Paynl\Payment\Observer\InvoiceSaveCommitAfter" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="sales_order_shipment_save_after" instance="Paynl\Payment\Observer\ShipmentSaveAfter" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="paynl_redirect_multishipping_order_to_the_checkout_url" instance="Paynl\Payment\Observer\CheckoutSubmitAllAfter\PayCheckoutUrl" />
    </event>
    <event name="order_cancel_after">
        <observer name="paynl_order_cancel_after" instance="Paynl\Payment\Observer\OrderCancelAfter" />
    </event>
</config>