<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Pay.nl All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Paynl_Payment" schema_version="0.0.1" setup_version="2.0.0" />
</config>