<div class="payment-method paynl" data-bind="visible: isVisible(), css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
        <img data-bind="attr: {src: getPaymentIcon(), alt: getTitle(), class: 'payment-icon ' + getIconSize()}"
             class="payment-icon" />
        <span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <p data-bind="html: getInstructions();"></p>
        <div data-bind="visible: showPaymentOptions()" class="field-select-billing">
            <select data-bind="options: getPaymentOptions(), optionsText: 'visibleName', optionsValue: 'id', value: paymentOption"></select>
        </div>
        <div data-bind="visible: showPaymentOptionsList()" class="field-select-billing">
            <br/>
            <span class="paymentOptionsListTest" data-bind="i18n: 'Choose your bank'"></span>
            <ul class="paymentOptionsList" data-bind="foreach: getPaymentOptionsList()" style="list-style-type: none;">
                <li>
                    <input type="radio" data-bind="value: id, checked: $parent.paymentOption, attr: {'id': uniqueId, 'name': radioName}">
                    <label data-bind="attr: {'for': uniqueId}">
                        <img height="50px" width="50px" data-bind="visible: showLogo, attr: {src: logo, alt: name, class: 'payment-icon ' + $parent.getIconSize()}" class="payment-option-icon" />
                        <span data-bind="text: name"></span>
                    </label>
                </li>
            </ul>
        </div>
        <div data-bind="visible: showDOB()" class="field-select-billing">
            <label for="dob" data-bind="i18n: 'Date of birth'"></label>
            <input type="date" data-bind="optionsValue: 'id', name: 'dateofbirth', value: dateofbirth" name="dateofbirth" placeholder="mm/dd/yyyy"/>
        </div>
        <div data-bind="visible: showKVKDOB()" class="field-select-billing">
            <br/>
        </div>
        <div data-bind="visible: showKVK()" class="field-select-billing">
            <label for="kvknummer" data-bind="i18n: 'COC number'"> </label>
            <input data-bind="optionsValue: 'id', name: 'kvknummer', value: kvknummer" name="kvknummer"/>
        </div>
        <div data-bind="visible: showVAT()" class="field-select-billing">
            <br/>
            <label for="vatnumber" data-bind="i18n: 'VAT-id'"></label>
            <input data-bind="optionsValue: 'id', name: 'vatnumber', value: vatnumber" name="vatnumber"/>
        </div>
        <div data-bind="visible: showKVKAgree()" class="field-select-billing">
            <div style="padding-top:10px; padding-bottom:10px">
                <input type="checkbox" data-bind="checked: billink_agree"/>
                <label for="billink_agree">U dient akkoord te gaan met de</label> <a target="_blank" href="https://billink.nl/voorwaarden/gebruikersvoorwaarden.pdf">betalingsvoorwaarden</a>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
