<div class="payment-method" data-bind="visible: showforCompany(), css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
        <img data-bind="attr: {src: getPaymentIcon(), alt: getTitle()}"
             class="payment-icon"  width="50px"/>
             <span style="display: inline-block; width: calc(100% - 90px); vertical-align: middle;">
                <span data-bind="text: getTitle()" style="display: block; font-weight: bold;"></span>
                <span data-bind="html: getInstructions();"></span>  
                <div style="position: absolute; margin-top: 15px;">
                    <div class="payment-method-content" style="padding: 0;">
                        <div data-bind="visible: showBanks()" class="field-select-billing">
                            <span data-bind="html: getBanksText();" style="display: inline-block;"></span>:&nbsp;&nbsp;&nbsp;<select data-bind="options: getBanks(), optionsText: 'visibleName', optionsValue: 'id', value: selectedBank" style="display: inline-block; width: auto;"></select>
                        </div>
                    </div>
                </div>
            </span></label>
        
    </div>
    <div class="payment-method-content" style="margin-top:60px;">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
              
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>