<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2015 Andy Pieters <andy@pay.nl>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>        
        <section id="payment">
            <group id="paynl" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pay.nl Instellingen</label>                
                <field id="apitoken" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API-token</label>
                </field>
                <field id="serviceid" translate="label" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ServiceId</label>
                </field>
                <group id="paynl_paymentmethods" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Paynl\Payment\Block\Adminhtml\System\Config\Fieldset\Expanded</frontend_model>
                    <label>Betaalmethoden</label>                      
                    <include path="Paynl_Payment::paymentmethods/ideal.xml"/>
                </group>
            </group>
        </section>
    </system>
</config>