<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2015 Pay.nl All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paynl" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Pay.nl Settings</label>
                <field id="testmode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Testmode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tokencode" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Tokencode</label>
                </field>
                <field id="apitoken" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API-token</label>
                </field>
                <field id="serviceid" translate="label" type="text" sortOrder="51" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>ServiceId</label>
                </field>
                <field id="language" translate="label" type="select" sortOrder="52" showInDefault="1" showInStore="1"
                       showInWebsite="1">
                    <label>Language payment screen</label>
                    <source_model>Paynl\Payment\Model\Config\Source\Languages</source_model>
                </field>
                <field id="never_cancel" translate="label,comment" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Never cancel order</label>
                    <comment><![CDATA[This setting will disable cancelling the order when the payment is canceled.
                    This can be used if uncancelling the order in case of a second chance payment produces errors. WARNING! Orders will never be cancelled automaticly]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="always_base_currency" translate="label,comment" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Always use base currency</label>
                    <comment><![CDATA[Set this to yes if you always want to process payments in the base currency of this store. Magento acts strange when trying to register a payment in another currency than the base currency. The base currency MUST be EUR]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="skip_fraud_detection" translate="label,comment" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Skip fraud detection</label>
                    <comment><![CDATA[Sometimes magento incorrectly marks an order as fraudulent. this happens more often when using different currencies. Set this to yes to skip fraud detection.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="paynl_paymentmethods" translate="label" sortOrder="101" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <frontend_model>Paynl\Payment\Block\Adminhtml\System\Config\Fieldset\Expanded</frontend_model>
                    <label>Paymentmethods</label>
                    <include path="Paynl_Payment::paymentmethods.xml"/>
                </group>
            </group>
        </section>
    </system>
</config>