form[data-pay-encrypt-form] [data-credit-card-cvc], form[data-pay-encrypt-form] [data-credit-card-type]
{
    display: block;
    height: inherit;
    background-size: cover;
}

form[data-pay-encrypt-form] .form-element-container {
    display: block;
}

form[data-pay-encrypt-form] .has-icon-container {
    flex-direction: row;
    box-sizing: border-box;
    flex: 0 1 auto; }

form[data-pay-encrypt-form] .has-icon-wrap {
    position: relative;
}

form[data-pay-encrypt-form] .has-icon-container .icon-container {
    pointer-events: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

form[data-pay-encrypt-form] .has-icon-container .input-container {
    position: relative;
    margin: 0;
    padding: 0; }

form[data-pay-encrypt-form] .has-icon-container .input-container input {
    position: relative;
}

.checkout-index-index .modal-popup.pay-error-modal .modal-inner-wrap,
.checkout-index-index .modal-popup.pay-payment-modal .modal-inner-wrap,
.checkout-index-index .modal-popup.pay-payment-complete-modal .modal-inner-wrap {
    margin-left:-195px;
    width:390px;
}

.checkout-index-index .modal-popup.pay-payment-modal .modal-content {
    padding:0;
    overflow-x:hidden;
    overflow-y:auto;
}

.checkout-index-index .modal-popup.pay-payment-modal .modal-content iframe {
    border:0;
}
