.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_xsmall{
    width: 35px;
    height: 35px;
}

.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_small{
    width: 50px;
    height: 50px;
}

.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_medium{
    width: 75px;
    height: 75px;
}

.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_large{
    width: 100px;
    height: 100px;
}

.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_xlarge{
    width: 125px;
    height: 125px;
}