.checkout-payment-method .paynl .paymentOptionsList li label .payment-icon{
    width: 50px;
    height: 50px;
}

.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_xsmall,
.checkout-payment-method .paynl .paymentOptionsList li label .payment-icon.pay_icon_size_xsmall{
    width: 35px;
    height: 35px;
}

.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_small,
.checkout-payment-method .paynl .paymentOptionsList li label .payment-icon.pay_icon_size_small{
    width: 50px;
    height: 50px;
}

.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_medium,
.checkout-payment-method .paynl .paymentOptionsList li label .payment-icon.pay_icon_size_medium{
    width: 75px;
    height: 75px;
}

.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_large,
.checkout-payment-method .paynl .paymentOptionsList li label .payment-icon.pay_icon_size_large{
    width: 100px;
    height: 100px;
}

.checkout-payment-method .paynl .payment-method-title .payment-icon.pay_icon_size_xlarge,
.checkout-payment-method .paynl .paymentOptionsList li label .payment-icon.pay_icon_size_xlarge{
    width: 125px;
    height: 125px;
}

.checkout-payment-method .paynl .paymentOptionsList{
    list-style-type:none;
    padding: 0;
    padding-top:20px;
}

.checkout-payment-method .paynl .paymentOptionsList li{
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}

.checkout-payment-method .paynl .paymentOptionsList li input,
.checkout-payment-method .paynl .paymentOptionsList li label,
.checkout-payment-method .paynl .paymentOptionsList li label .payment-icon,
.checkout-payment-method .paynl .paymentOptionsList li label span{
    display: inline-block;
    vertical-align: middle;
}

.checkout-payment-method .paynl .paymentOptionsList li label{
    width: calc(100% - 25px);
    padding: 10px 0px;
}

.checkout-payment-method .paynl .paymentOptionsList li label .payment-icon{
    margin-right: 5px;
}
