form[data-pay-encrypt-form] [data-credit-card-cvc], form[data-pay-encrypt-form] [data-credit-card-type] {
    display: block;
    height: inherit;
    background-size: cover;
}

form[data-pay-encrypt-form] .form-element-container {
    display: block;
}

form[data-pay-encrypt-form] .has-icon-container {
    flex-direction: row;
    box-sizing: border-box;
}

form[data-pay-encrypt-form] .has-icon-wrap {
    position: relative;
}

form[data-pay-encrypt-form] .has-icon-container .icon-container {
    pointer-events: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 2px;
    height: 28px;
}

form[data-pay-encrypt-form] .has-icon-container .input-container {
    position: relative;
    margin: 0;
    padding: 0;
}

form[data-pay-encrypt-form] .has-icon-container .input-container input {
    position: relative;
}

.modal-popup.pay-error-modal, .modal-popup.pay-payment-complete-modal, .modal-popup.pay-payment-modal {
    z-index: 901;
}

.checkout-index-index .modal-popup.pay-error-modal .modal-inner-wrap,
.checkout-index-index .modal-popup.pay-payment-modal .modal-inner-wrap,
.checkout-index-index .modal-popup.pay-payment-complete-modal .modal-inner-wrap {
    width: fit-content;
    min-width: 30%;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
}

.checkout-index-index .modal-popup.pay-payment-modal .modal-content {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.checkout-index-index .modal-popup.pay-payment-modal .modal-content iframe {
    border: 0;
}

.container-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding-bottom: .45em;
}

.form-element-container {
    display: block;
    flex-basis: 0;
    align-self: auto;
}

.container-cardholder {
    flex-grow: 1;
}

.container-creditcard {
    flex-grow: 3;
    padding: .5em 1em 0 0;
}

.container-cvc {
    flex-grow: 1;
    padding: .5em 0 0 1em;
}

.container-cvc input {
    text-align: center;
}

.container-exp-month {
    flex-grow: 1;
    padding: .5em 1em .5em 0;
}

.container-exp-year {
    flex-grow: 1;
    padding: .5em 0 .5em 1em;
}

form[data-pay-encrypt-form] select option {
    color: #000;
}

.payment-method-cse input::placeholder,
form[data-pay-encrypt-form] select:invalid,
form[data-pay-encrypt-form] select option[value=""] {
    color: #767676 !important;
    opacity: 1;
}

#checkout-payment-modal {
    text-align: center;
}

.payment-method-cse #card-holder {
    text-transform: uppercase;
}

.payment-method-cse.fieldStyle_borders [data-validation="invalid"] {
    border: 1px solid red;
}

.payment-method-cse.fieldStyle_borders [data-validation="valid"] {
    border: 1px solid green;
}

.payment-method-cse.fieldStyle_borders [data-validation="potentially-valid"] {
    border: 1px solid orange;
}

.payment-method-cse.fieldStyle_background [data-validation="invalid"] {
    background-color: #da7979;
    border: none;
}

.payment-method-cse.fieldStyle_background [data-validation="valid"] {
    background-color: #cfe7c2;
    border: none;
}

.payment-method-cse.fieldStyle_background [data-validation="potentially-valid"] {
    background-color: #f0c684;
    border: none;
}

.checkout-payment-method .payment-method-cse .payment-method-content {
    width: 420px;
}

.checkout-payment-method .payment-method-cse label {
    margin-bottom: .3em;
}

.payment-method-cse fieldset {
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
}

.payment-method fieldset legend {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    color: #052854;
    font-size: 1.5em;
    font-weight: 400;
    padding: .5em 0 .7em 0;
}

#cse-status {
    background-color: #59a934;
    padding: 8px 13px;
    margin-bottom: 24px;
    color: white;
    display: none;
}

div#cse-status A {
    color: white;
    text-decoration: none;
}

.payment-method-cse .checkout-payment-errors div.message.success A {
    color: white;
    text-decoration: none;
}

.paynl.payment-method-cse #pay-cse-custom-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    z-index: 1234;
    padding: 21px;
    color: #333;
    min-width: 30%;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 14px 4px #979797;
    text-align: center;
    background-color: white;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .paynl.payment-method-cse #pay-cse-custom-modal {
        left: 0;
        transform: none;
        text-align: left;
        top: 0;
        padding: 0;
    }
    .checkout-index-index .modal-popup.pay-error-modal .modal-inner-wrap,
    .checkout-index-index .modal-popup.pay-payment-modal .modal-inner-wrap,
    .checkout-index-index .modal-popup.pay-payment-complete-modal .modal-inner-wrap {
        width: 100%;
        min-width: 30%;
        margin-left: 0;
        transform: none;
        left: 0;
        position: fixed;
        top: 0;
    }
}
@media (min-width:480px)  {}
@media (min-width:600px)  {}
@media (min-width:801px)  {}
@media (min-width:1025px) {}
@media (min-width:1281px) { /* hi-res laptops and desktops */

    .paynl.payment-method-cse #pay-cse-custom-modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        z-index: 1234;
        padding: 21px;
        color: #333;
        min-width: 30%;
        border: 1px solid #CCC;
        box-shadow: 1px 1px 14px 4px #979797;
        text-align: center;
        background-color: white;
    }

    .checkout-index-index .modal-popup.pay-error-modal .modal-inner-wrap,
    .checkout-index-index .modal-popup.pay-payment-modal .modal-inner-wrap,
    .checkout-index-index .modal-popup.pay-payment-complete-modal .modal-inner-wrap {
        width: fit-content;
        min-width: 30%;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
    }
}

#challenge-iframe {
    height: 500px;
    border: 0;
    overflow-y: hidden !important;
}

button.action.primary.loaderImage {
    background-image: url(../images/ajax-loader-trans.gif) !important;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    padding-left: 30px;
}
